---
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image: example-app.dkr.ecr.us-east-1.amazonaws.com/example-app:latest

appVersion: 0.0.1

namespace: apps

envShort: env

appName: app-template

serviceAccountName: default

imagePullPolicy: Always

service:
  type: ClusterIP
  port: 80

healthcheck:
  path: /
  readinessSuccess: 2
  readinessFailure: 2
  readinessDelay: 20
  livenessSuccess: 1
  livenessFailure: 2
  livenessDelay: 20
  period: 10
  timeout: 5

resources:
  limits:
    cpu: 1000m
    memory: 1024Mi
  requests:
    cpu: 1000m
    memory: 1024Mi
appPort: 8080

replicaCount: 1

deployment:
  maxUnavailable: 0%
  maxSurge: 100%
  strategy: RollingUpdate
  specs:
    labels:
      example: thislabel

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 10
  cpu: 80
  memory:
  requests:

ingress:
  enabled: true
  scheme: internal
  target: ip
  sg: "sg_internal"
  domain: westrike.top
  group: "core"
  certificate: arn:aws:acm:us-east-2:317814227242:certificate/614d5719-349a-4933-acce-ddf7d4239ce8

datadog:
  clusterName: env-template-cluster
  logs:
    enabled: true

configmap:
  enabled: false
  name: test-configmap

vault:
  agentInject: false
  authPath: auth/stg-core-cluster
  role: devweb-app
  secretCredentials: secrets/auth-service/stg
  namespace:
    enable: false
    name: admin